<footer class="footer">
    <div class="footer-container">
        <p>&copy; 2025 MyBookHub - All rights reserved -</p>
        <div class="footer-openlibrary">
            <span>Powered by</span>
            <a  href="https://openlibrary.org/dev/docs/api/covers">
                <img src="/images/openLibrary.png" alt="OpenLibrary Logo" class="openlibrary-logo">
            </a>
        </div>
    </div>
</footer>

</body>
</html>
