<%- include('partials/header') %> <!-- Include header.ejs -->

<div class="home-container">
    <h1 class="home-h1">Welcome back to <span>MyBookHub</span>!</h1>
    <p class="home-p">Log in to track your favorite books and discover new reads & reviews!</p>
    
    <a href="/login" class="home-btn">Log In</a>
</div>

<%- include('partials/footer') %> <!-- Include footer.ejs -->