<%- include('partials/header') %>

<div class="search-form">
<h1>Which book did you just finish?</h1>

    <form id="searchForm" action="/user/searchBookCover" method="POST" >
        <input type="text" name="title" placeholder="Tell us the book title" required>
        <button type="submit">Search</button>
    </form>

</div>

<%- include('partials/footer') %>